<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon >fingerprint</mat-icon> 
<mat-icon >face</mat-icon> 
<mat-icon >check_circle_outline</mat-icon> 
<mat-icon >task_alt</mat-icon> <!-- пиши имената на иконите с малки букви, иначе на ги рисува!!-->
<!-- от къде мога да намеря лист с всички icons - отивам на google fonts (https://fonts.google.com/icons?icon.set=Material+Icons) и просто гледам името на иконата там и го поставям в <mat-icon> тага -->



