.main {
    
    border: solid 1px rgba(8, 8, 150, 0.216);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    background-color: rgb(236, 244, 247);
}

.pb {
    padding-bottom: 5px;;
}

.nop{
    padding: 0px;
    margin: 0;
}

.ml {
    margin-left: 20px;;
}

.pb-5px {
    padding-bottom: 5px;
}

.mb-0 {
    margin-bottom: 0;
}
.b {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.2rem;
    color:rgb(17, 131, 172);
}

.red {
    color: red;
}